{
    "terminalId": "PRN2", 
    "dataServerAddr": "192.168.100.30", 
    "dataServerPort": "8888", 
    "printServerAddr": "192.168.100.8", 
    "printServerPort": "9000", 
    "ticketHeader": "10\u00b0 BURZACO MATSURI", 
    "productPollingTime": 5, 
    "productStatePollingTimeInSec": 5,
    "simulatePrinter": true,
    "PrinterVendorId":"0x04b8",
    "PrinterProductId":"0x0e15",
    "prn_dpi":203,
    "prnInchesWidth":2.83465,
    "configPoolingTimeSec":60
}